* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden !important;
}

a {
    text-decoration: none !important;
    color: white !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.imageone {
    background-image: url('/image/wes-hicks-MEL-jJnm7RQ-unsplash.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style: none;
}


/* #perloader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    flex;
} */