* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {}

body {
    height: 100vh;
    width: 100vw;
    /* overflow-x: hidden !important; */
}

a {
    text-decoration: none !important;
    color: white !important;
    font-family: 'Times New Roman', Times, serif
}

.imageone {
    background-image: url('/image/wes-hicks-MEL-jJnm7RQ-unsplash.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style: none;
}

.btn-toggle i::after {
    content: "menu";
    font-size: 14px;
    margin: 0px 8px;
}

.btn-toggle.active {}

.nav-btn {
    display: none;
}

.nav-btn.active {
    display: block;
}


/* #perloader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    flex;
} */