* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {}

body {
    height: 100vh;
    width: 100vw;
    /* overflow-x: hidden !important; */
}

a {
    text-decoration: none !important;
    color: white !important;
    font-family: 'Times New Roman', Times, serif
}

.imageone {
    background-image: url('/image/wes-hicks-MEL-jJnm7RQ-unsplash.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style: none;
}

.btn-toggle i::after {
    content: "menu";
    font-size: 14px;
    margin: 0px 8px;
}

.btn-toggle.active {}

.nav-btn {
    display: none;
}

.nav-btn.active {
    display: block;
    overflow: hidden;
}

.search {}

.inputSearch {
    border: none;
    border-bottom: 2px solid black;
    border-radius: 10px;
}

.inputSearch:focus {
    background-color: rgba(0, 0, 0, 0.4);
}

.buttonsearch {
    border-radius: 5px;
    padding: 0 12px;
}


/* #perloader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    flex;
} */